*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Arial', 'sans-serif' !important; 
    line-height: 20px;
    
}

html{
    font-size: 12px;
}
body{
    background: linear-gradient(180deg,#0b0701,#69594b);
    text-align: center;
    display:flex;
   flex-direction:column;
}

header .bg-image-header{
    background-image: url(images/coffeehouse3.jpg);
    background-size: cover;
    background-position: center;
    height: 25rem; /*25*html-font-size(10px here)*/
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    
}

div.header-content{
    position: absolute;
    color: white;
    font-size: 1rem;
    width: 100%;
    height: 25rem;
    align-content: center;
}
div.header-content h1{
    font-size: 2rem !important;
}
a{
    color: black;
    text-decoration: none;
}

a.readmore-btn{
    padding: 4px;
    padding-left: 9px;
    padding-right: 9px;
    background-color:rosybrown;
    border: 1px solid;
    border-color:rosybrown;
}

a.readmore-btn:hover{
    background-color: #d2b4b4;
}
#section-1{
    color:white;
    margin-top: 25rem;
}
#section-2{
    color:white;
    height: auto;
    width: 100% !important;
    background-color: transparent ;
}

div.body-content{
    display: flex;
    flex-wrap:nowrap;
    margin-bottom: 0px;
}

.card-b{
    background-color:dimgray;
    border-radius: 0.5rem;
    margin-left:1rem;
    margin-right:1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-b h1{
    font-size: 1rem !important;
    font-weight: lighter;
    
}
.card-b img{
    border-radius: 0.5rem 0.5rem 0 0;
}
div.body-content.overflow{
    width:100%;
    overflow-x:auto;
    padding-left: 10px;
    padding-right: 10px;
}
div.card-b{
    display:inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    color:white;
    max-width:7rem !important;
    
}

img{
    vertical-align:bottom;
    width: 7rem;
    height: 7rem;
}
section{
    overflow:auto;
    
}
.section-header{
    color:white;
    margin-bottom:0px;
    padding-bottom: 0px;
    vertical-align: bottom;
    margin-top: 10px;
    font-size: 2rem;
}

a.sub-title-h, a.sub-title-cb, a.sub-title-sd{
    color:white;
    margin-top:0px;
    padding-top:0px;
    margin-right:auto;
    margin-left: auto;
    font-weight: normal;
    font-size: 1.3rem;
}

/*scroll bars*/
.body-content::-webkit-scrollbar
{
    display:none;
}

.body-content{
    scrollbar-width: none;
}

hr.section-h-hr{
    border:0px;
    border-top: 1px solid white;
    height: 0.2px;
    opacity: 0.3;
    margin-bottom:0.4rem;
}

li.sub-b-li{
    display: block;
}
ul{
    display:inline;
}

table{
    color:white;
    display:inline;
    width: 100%;
    font-size: 1rem;
    justify-content: center;
    align-self:center;
}

th{
    padding-left: 25px;
    padding-right: 25px;
    border-bottom:1px double rgba(255,255,255,0.1);
    border-top:none;
    border-left:none;
    border-right:none;
}
td.special{
    padding-left: 25px;
    padding-right: 25px;
    border-bottom:none;
    border-top:none;
    border-left:none;
    border-right:none;
}


th.add-border{
    border-right:1px double rgba(255,255,255,0.1);
    
}

td.add-border{
    border-right:0.5px double rgba(255,255,255,0.1);
    
}

a.sub-title-h:active{
    color:#d2b4b4;
}

#section-4{
    margin-top: 20px;
}

#section-6{
    background-color:lightgrey;
    font-size: 1rem;
}
#section-6::after{
    content: "";
    display:block;
    clear: both;
}
#section-6 p{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
#section-6 h1{
    font-size: 2rem !important;
    padding-top: 20px;
    padding-bottom: 15px;
}

#info{
    margin-bottom: 20px;
}

#about-us{
    background-color:silver;
    padding-bottom: 20px;
    text-align:center;
}

#contact-us{
    background-color:gray;
    padding-bottom: 20px;
    text-align:center;
}
.box{
    float: left;
    width: 50%;

}
footer{
    background-color:black;
    color: white;
    padding-bottom:20px;
    padding-top:20px;
    text-align:center;
    font-size: 1rem !important;
}

.margin-required{
    margin-bottom:1rem;
    margin-top:0.6rem;
}

@media screen and (min-width: 768px){
    html{
        font-size: 13px !important;
    }
    div.body-content{
        justify-content:center;
    }
}
@media screen and (min-width:1024px){
    html{
        font-size: 14px !important;
    }

    .box{
        float:none;
        width: 100%;
    }
    div.body-content{
        justify-content:center;
    }
}